body {
 
  font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
     background-image: url(../images/technology_assessment_header\(m\).jpg);
     background-size: cover;
     height: 100;
    background-position:  center center;
    

  }
  .secBack{
     background-color: rgba(0, 0, 0, 0.3);
     color: #ccc !important;

  }
/* Example CSS */
.input-field::placeholder {
  color: red; /* Change placeholder text color */
  font-style: italic; /* Change placeholder text style */
}

/* Apply the styles to specific input fields */
#categoryName::placeholder {
  color: blue; /* Change placeholder text color for categoryName input */
}

#categoryService::placeholder {
  color: green; /* Change placeholder text color for categoryService input */
}

  
  .card-img-left {
    width: 45%;
    /* Link to your background image using in the property below! */
    background: scroll center url('https://source.unsplash.com/WEQbe2jBg40/414x512');
    background-size: cover;
  }
  .cardClient{
    background: #3700b8;
    width: 20rem;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid #483eff;
    box-shadow: 0 6px 10px rgba(207, 212, 222, 1);
    border-radius: 10px;
    text-align: center;
    color: white;
    padding: auto;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
  }
  button {
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
   }
   
   button, button span {
    transition: 200ms;
   }
   
   button .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
   }
   
   button .icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   button svg {
    width: 15px;
    fill: #eee;
   }
   
   button:hover {
    background: #ff3636;
   }
   
   button:hover .text {
    color: transparent;
   }
   
   button:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
   }
   
   button:focus {
    outline: none;
   }
   
   button:active .icon svg {
    transform: scale(0.8);
   }
  .input::placeholder {
    color: white; /* Placeholder color */
    font-size: medium;
  }
  .cardClient:hover {
    transform: translateY(-10px);
  }
  
  
  
  
  .nameClient {
    margin: 0;
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
  }
  
  .nameClient span {
    display: block;
    font-weight: 200;
    font-size: 16px;
  }
  
  .socialMedia:before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background: #7cdacc;
  }
  .form {
   --width-of-input: 200px;
   --border-height: 3px;
   --border-before-color: white;
   --border-after-color: #7cdacc;
   --input-hovered-color: #4985e01f;
   position: relative;
   width: 260px;
  }
  /* styling of Input */
  .input {
   color: #fff;
   font-size: 1.2rem;
   background-color: transparent;
   width: 100%;
   box-sizing: border-box;
   padding-inline: 0.5em;
   padding-block: 0.7em;
   border: none;
   border-bottom: var(--border-height) solid var(--border-before-color);
  }
  /* styling of animated border */
  .inputBorder {
   position: absolute;
   background: var(--border-after-color);
   width: 0%;
   height: 2px;
   bottom: 0;
   left: 0;
   transition: 0.3s;
  }
  /* Hover on Input */
  input:hover {
   background: var(--input-hovered-color);
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }
  
 
  
  .select {
    width: fit-content;
    cursor: pointer;
    position: relative;
    transition: 300ms;
    color: white;
    overflow: hidden;
  }
  
  .selected {
    background-color: #004cff;
    padding: 5px;
    margin-bottom: 3px;
    border-radius: 5px;
    position: relative;
    z-index: 100000;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .arrow {
    position: relative;
    right: 0px;
    height: 15px;
    transform: rotate(-90deg);
    width: 25px;
    fill: white;
    z-index: 100000;
    transition: 300ms;
  }
  
  .options {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 5px;
    background-color: #2a2f3b;
    position: relative;
    top: -100px;
    opacity: 0;
    transition: 300ms;
  }
  
  .select:hover > .options {
    opacity: 1;
    top: 0;
  }
  
  .select:hover > .selected .arrow {
    transform: rotate(0deg);
  }
  
  .option {
    border-radius: 5px;
    padding: 5px;
    transition: 300ms;
    background-color: #2a2f3b;
    width: 150px;
    font-size: 15px;
  }
  .option:hover {
    background-color: #323741;
  }
  
  .options input[type="radio"] {
    display: none;
  }
  
  .options label {
    display: inline-block;
  }
  .options label::before {
    content: attr(data-txt);
  }
  
  .options input[type="radio"]:checked + label {
    display: none;
  }
  
  .options input[type="radio"]#all:checked + label {
    display: none;
  }
  
  .select:has(.options input[type="radio"]#all:checked) .selected::before {
    content: attr(data-default);
  }
  .select:has(.options input[type="radio"]#option-1:checked) .selected::before {
    content: attr(data-one);
  }
  .select:has(.options input[type="radio"]#option-2:checked) .selected::before {
    content: attr(data-two);
  }
  .select:has(.options input[type="radio"]#option-3:checked) .selected::before {
    content: attr(data-three);
  }
  .radioinput {
    display: flex;
    flex-direction: row;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
  }
  
  .radioinput input[type="radio"] {
    display: none;
  }
  
  .radioinput label {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #212121;
    border-radius: 5px;
    margin-right: 12px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  
  .radioinput label:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #ccc;
    transition: all 0.3s ease-in-out;
  }
  
  .radioinput input[type="radio"]:checked + label:before {
    background-color: green;
    top: 0;
  }
  
  .radioinput input[type="radio"]:checked + label {
    background-color: royalblue;
    color: #fff;
    border-color: rgb(129, 235, 129);
    animation: radio-translate 0.5s ease-in-out;
  }
  
  @keyframes radio-translate {
    0% {
      transform: translateX(0);
    }
  
    50% {
      transform: translateY(-10px);
    }
  
    100% {
      transform: translateX(0);
    }
  }
  